<h2>Lab Test 2 -Comp3133- Ryan Tran</h2>

<div class="mission-list">
    <h2>SpaceX Missions</h2>
    <div *ngFor="let mission of missions" class="mission-card">
      <img [src]="mission.links.mission_patch_small" alt="{{ mission.mission_name }}" />
      <h3>{{ mission.mission_name }} ({{ mission.launch_year }})</h3>
      <p><strong>Flight Number:</strong> {{ mission.flight_number }}</p>
      <p><strong>Rocket:</strong> {{ mission.rocket.rocket_name }} ({{ mission.rocket.rocket_type }})</p>
      <p>{{ mission.details || 'No details available' }}</p>
      <div class="links">
        <a *ngIf="mission.links.article_link" [href]="mission.links.article_link" target="_blank">Article</a>
        <a *ngIf="mission.links.wikipedia" [href]="mission.links.wikipedia" target="_blank">Wikipedia</a>
        <a *ngIf="mission.links.video_link" [href]="mission.links.video_link" target="_blank">Video</a>
      </div>
    </div>
  </div>
  

<footer>
    <h1>Ryan Tran</h1>
    <p>101460443</p>

</footer>