
input {
    width: 200px;
    padding: 8px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
  }
  

  input:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

  label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
  }
  
 
  .filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  